<footer class="footer">
  <div class="jumbotron text-center" style="margin-bottom:0">
    Swan Media Ltd. Company Number: 12221324. England and Wales Company
    Registered Address: 95 Marcroft Road, Swansea, SA1 8PN
  <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
  <p><a href="https://www.github.com/pe5er/swan.media">View on Github</a></p>
  </div>
</footer>

<script language="javascript"> //highlights current page in navbar
$(document).ready(function() {
        var pathname = window.location.pathname;
        $('.navbar-nav > li > a[href="'+pathname+'"]').parent().addClass('active');
})
</script>
