<head>
 <title>Swan Media</title>
 <link rel="apple-touch-icon" sizes="180x180" href="/media/faviconcircle/apple-touch-icon.png">
 <link rel="icon" type="image/png" sizes="32x32" href="/media/faviconcircle/favicon3232.png">
 <link rel="icon" type="image/png" sizes="16x16" href="/media/faviconcircle/favicon1616.png">
 <link rel="manifest" href="/media/faviconcircle/site.webmanifest">
 <link rel="shortcut icon" href="/media/faviconcircle/favicon.ico">
 <meta name="msapplication-TileColor" content="#da532c">
 <meta name="msapplication-config" content="/media/faviconcircle/browserconfig.xml">
 <meta name="theme-color" content="#ffffff">
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}
  <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
</head>
